<!DOCTYPE html>
<html lang="en" style="height:100%">

<head>
    <meta charset="UTF-8">
    <title>LXD-UI {{lxdui_current_version}} / Login</title>
    <link href="{{ url_for('.static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('.static', filename='css/app.css') }}" rel="stylesheet">
    <script src="{{ url_for('.static', filename='js/jquery-2.0.0.js')}}"></script>
    <script src="{{ url_for('.static', filename='js/app.js')}}"></script>
    <script src="{{ url_for('.static', filename='js/login.js')}}"></script>
    <!-- TOASTER -->
    <link href="{{ url_for('.static', filename='css/toastr.css')}}" rel="stylesheet"/>
    <script src="{{ url_for('.static', filename='js/toastr.min.js')}}"></script>
    <script>
    toastr.options = {
        "closeButton": false,
        "debug": false,
        "newestOnTop": false,
        "progressBar": false,
        "positionClass": "toast-top-center",
        "preventDuplicates": false,
        "onclick": null,
        "showDuration": "0",
        "hideDuration": "100",
        "timeOut": "1800",
        "extendedTimeOut": "2500",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut",
        "escapeHtml" : true
        }
</script>

</head>

<body style="height:100%">
    <div class="col-lg-12" style="height:100%">
        <div class="col-lg-offset-5 col-lg-3" style="position:relative;top: 50%;margin-top:-230px;border:1px solid black;padding:20px 50px 20px 50px;box-shadow: 5px 5px 2px rgba(232, 232, 232, 0.9);" >
            <!--<img src="/static/images/logo.png" width="100%" style="margin-bottom:20px"/>-->
            <img src="{{ url_for('.static', filename='images/grafo-facom.png')}}" width="100%"/>
            <form action="containers" method="GET" role="form" class="form-horizontal">
                <div class="form-group" style="margin-top:10px;">
                    <input type="text" name="username" id="username" class="form-control" placeholder="Username" autofocus />
                </div>
                <div class="form-group">
                    <input type="password" name="password" id="password" class="form-control" placeholder="Password">
                </div>
                
                <div class="form-group">
                    <input class="btn btn-login" type="submit" value="Log in"">
                </div>
                 <div class="form-group error-div hidden" style="margin-bottom:0px;">
                    <div class="alert alert-danger">
                      <strong>Error! <span class="status"></span></strong>
                        <span class="msg"></span>
                    </div>
                 </div>
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <script>
                    {% for category, message in messages %}
                        toastr['{{category}}']("{{message}}");
                    {% endfor %}
                    </script>
                {% endif %}
                {% endwith %}
            </form>
        </div>
    </div>
</body>

</html>
